<a href="https://colab.research.google.com/github/arooshasolomon/ds1002-npj4qa/blob/main/homework/week-9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 9

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## Functions

In the cell below define a function that takes one parameter (in the form of a list) called `names` and returns a simple greeting for each name, such as

    "Hello Natasha, it's so nice to meet you"
    "Hello Sid, it's so nice to meet you"

Define the function and run it, and in another cell below call the function populated with a var of a list of names.

In [26]:
#

def greeting(names):
  for each in names:
    print(f"Hello {each}, it's so nice to meet you" )

n = ["Sally", "Su", "Natasha", "Sid"]
greeting(n)

Hello Sally, it's so nice to meet you
Hello Su, it's so nice to meet you
Hello Natasha, it's so nice to meet you
Hello Sid, it's so nice to meet you

In [27]:
#
print(n)

['Sally', 'Su', 'Natasha', 'Sid']

Using the following list, pass it into a function you define that will evaluate the list and return a count of how many items is in it. Be creative.

```
mylist = ["Toronto","Buffalo","Syracuse","Albany","Schenectady","Brooklyn","Rome","Ithaca"]
```

In [43]:
#

mylist = ["Toronto","Buffalo","Syracuse","Albany","Schenectady","Brooklyn","Rome","Ithaca"]



def counter(cities):
  empty = 0
  for each in cities:
    empty += 1
  return empty

counter(mylist)

3

## Input Validation

Write a function below that defines two input parameters as `bool` and returns a `bool`.
In the cell below that, populate two variables with two different bools (True and False)
and pass them into a call of your function.

In [44]:
def bool (x, y):
  x = True
  y = False
  return (x,y)

var_1 = False
var_2 = True

print(bool(var_1, var_2))

(True, False)

## Global Variables

Define a global variable and populate it with a data type (int, str, bool, float, etc.)

In [95]:
var = ["Hello", "world "]

Now create a function that prints out the global variable. Call the function and display the value of the var.

In [83]:
data_int = 5

def global_print():
    global data_int
    print ('my answer:', data_int)

global_print()

my answer: 5

# Now create a function that creates its own global var and populates it.
Call the function and then print out the global var from outside of the function.

In [84]:
def global_print2():
    global my_global_var
    my_global_var = "test"

global_print2()

print("my answer:", my_global_var)

my answer: test

Finally, write a function that updates the value of the global var you defined 3 cells above.

1. Within the function, print out the global var you defined 3 cells above.
2. Update the global var to have a new value.
3. Within the function, print the new value of the global var.

Call the function and once more print out the value of the global var from outside of the function.

In [96]:
def update_var():
  global var
  print(var)
  var = ['Buns']
  print(var)

update_var()

print(var)

['Hello', 'world ']
['Buns']
['Buns']