<a href="https://colab.research.google.com/github/arooshasolomon/ds1002-npj4qa/blob/main/homework/week-5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 5

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

## 1. NumPy

You have three Python lists (below). Put them into a single NumPy `ndarray` as a 2-dimensional array (with 6 columns and 3 rows). Using the 6 columns in each list, add each column's values and print out the added values. Demonstrate everything required to code such an operation in the code block below.

```python
val1 = [12,14,16,18,20,22]
val2 = [5,10,15,20,25,30]
val3 = [5,7,9,11,13,15]
```

In [2]:
# Set up numpy and create an array from the 3 lists above. Don't just copy and
# paste the values into a new array by hand, use the three variables to create it.

import numpy as np

val1 = [12,14,16,18,20,22]
val2 = [5,10,15,20,25,30]
val3 = [5,7,9,11,13,15]


array = np.array((val1,val2,val3))
print (array)

[[12 14 16 18 20 22]
 [ 5 10 15 20 25 30]
 [ 5  7  9 11 13 15]]

In [17]:
# Now format a SINGLE command that displays the first and second lines of the ndarray you just made.

print (array[0:2])

[[12 14 16 18 20 22]
 [ 5 10 15 20 25 30]]

In [9]:
# Format a command that slices the ndarray, giving only the first 3 columns of the first 2 rows.
# Display those values back in your code.

print (array[0:2,0:3])

[[12 14 16]
 [ 5 10 15]]

In [12]:
# Finally, using the ndarray object you created above, use the .T method with it.
# For example, if your ndarray was named "myarray" then issue this command:
#
array.T
#
# What does that command do to the ndarray? Write your answer in the text block below.

array([[12,  5,  5],
       [14, 10,  7],
       [16, 15,  9],
       [18, 20, 11],
       [20, 25, 13],
       [22, 30, 15]])

Answer here.

The first and third column adds by 2 as you go down a row, the second column adds by 5's as you go down a row

# 2. Pandas

In class we created a DataFrame using the `read_csv` method. Another way to create a df is by hand, using Python lists. Below shows you how to do that, using a list of columns, a list of indexes, and a list of actual data for each record.

```python
df = pd.DataFrame(
    columns=['x','y','z'],
    index=['row1','row2','row3'],
    data=[[9,3,7],[1,2,4],[4,6,8]])
```

In [28]:
# Set up pandas and create the dataframe above. Then continue to work with the dataframe in the questions below.

import pandas as pd

df = pd.DataFrame(
    columns=['x','y','z'],
    index=['row1','row2','row3'],
    data=[[9,3,7],[1,2,4],[4,6,8]])

In [29]:
# Format a command that displays the entire DataFrame.
print(df)

      x  y  z
row1  9  3  7
row2  1  2  4
row3  4  6  8

In [39]:
# Format a command that selects and returns only the SECOND row of data from the df.

data_frame= df.iloc[1]
print(data_frame)

x    1
y    2
z    4
Name: row2, dtype: int64

In [45]:
# Format a command that selects and returns only the `y` column of data from the df.

y_column = df['y']
print (y_column)

row1    3
row2    2
row3    6
Name: y, dtype: int64

In [52]:
# Format a command that displays the data types present in this DataFrame.

df_type = df.dtypes
print(df_type)

x    int64
y    int64
z    int64
dtype: object

In [55]:
# Finally, using the DataFrame object you created above, use the .T method with it.
# For example, if your df was named "mydf" then issue this command:
#
df.T
#
# What does that command do to the DataFrame? Write your answer in the text block below.

   row1  row2  row3
x     9     1     4
y     3     2     6
z     7     4     8

Answer here.


it allows you to format the code in a way where you can make plots out of them