<a href="https://colab.research.google.com/github/arooshasolomon/ds1002-npj4qa/blob/main/homework/week-13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [1]:
version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          3.2
year           2023
month          10
day            31
svn rev        85441
language       R
version.string R version 4.3.2 (2023-10-31)
nickname       Eye Holes

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [5]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"

my_integers <- c(1, 2, 3, 4, 5,6,7)

my_integers

[1] 1 2 3 4 5 6 7

In [18]:
var1 = 8
var2 = 4
var3 = 12
var4 = 25

var_1 <- var1 / var2
var_2 <- var2^2 *var3
var_3 <- var4/var3

my_calculated_values <- c( var_1, var_2, var_3)

# Using the variables given above, assign three new variables the following calculated values:
#
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [44]:
#
s2 <- seq(from=4, to=28, by=3)
s2

[1]  4  7 10 13 16 19 22 25 28

Next, show how to display this vector with the 3 index removed.

In [46]:
#
s2[-3]

[1]  4  7 13 16 19 22 25 28

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [47]:
#

s2 <- s2[-4:-5:-7]
s2

Warning message in -4:-5:-7:
“numerical expression has 2 elements: only the first used”

[1]  4  7 10 25 28

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [56]:
#
artist <- c("Drake", "Rihanna", "Future",
           "Bryson Tiller", "Summer Walker", "Brent Faiyaz",
           "Don Toliver", "The Weeknd", "Morad", "Maes")
category <- c("Hip Hop", "R&b", "Rap", "Rap", "Rap", "Rap", "Rap", "Rap", "Rap", "Rap")
size <- c(1,1,1,1,1,1,1,1,1,1)
start <- c(1920,1920,1920,1920,1920,1920,1920,1920,1920,1920)
grammy <- c(FALSE, FALSE, TRUE, FALSE, TRUE, TRUE, FALSE, FALSE, FALSE, TRUE)

df <- data.frame(Artist = artist, Category =category, Size = size, Start = start, Grammy= grammy)

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [71]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.

df %>%
  head(n = 3) %>%
  select(Artist, Category, Grammy)

  Artist  Category Grammy
1 Drake   Hip Hop  FALSE
2 Rihanna R&b      FALSE
3 Future  Rap       TRUE

In [72]:
install.packages("tidyverse")
library(tidyverse)
%>% = piping

ERROR: ignored

In [76]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.

df %>%
filter(Category == "Hip Hop")

  Artist Category Size Start Grammy
1 Drake  Hip Hop  1    1920  FALSE

## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human.
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [88]:
#





starwars %>%   # and-then
  select(name, sex, height, species) %>%
  filter(species !=  "Human") %>%
  group_by(name)

   name                  sex            height species
1  C-3PO                 none           167    Droid
2  R2-D2                 none            96    Droid
3  R5-D4                 none            97    Droid
4  Chewbacca             male           228    Wookiee
5  Greedo                male           173    Rodian
6  Jabba Desilijic Tiure hermaphroditic 175    Hutt
7  Yoda                  male            66    Yoda's species
8  IG-88                 none           200    Droid
9  Bossk                 male           190    Trandoshan
10 Ackbar                male           180    Mon Calamari
11 Wicket Systri Warrick male            88    Ewok
12 Nien Nunb             male           160    Sullustan
13 Nute Gunray           male           191    Neimodian
14 Jar Jar Binks         male           196    Gungan
15 Roos Tarpals          male           224    Gungan
16 Rugor Nass            male           206    Gungan
17 Watto                 male           137    Toydarian
18 Sebulba               male           112    Dug
19 Darth Maul            male           175    Zabrak
20 Bib Fortuna           male           180    Twi'lek
21 Ayla Secura           female         178    Twi'lek
22 Dud Bolt              male            94    Vulptereen
23 Gasgano               male           122    Xexto
24 Ben Quadinaros        male           163    Toong
25 Ki-Adi-Mundi          male           198    Cerean
26 Kit Fisto             male           196    Nautolan
27 Eeth Koth             male           171    Zabrak
28 Adi Gallia            female         184    Tholothian
29 Saesee Tiin           male           188    Iktotchi
30 Yarael Poof           male           264    Quermian
31 Plo Koon              male           188    Kel Dor
32 Mas Amedda            male           196    Chagrian
33 Poggle the Lesser     male           183    Geonosian
34 Luminara Unduli       female         170    Mirialan
35 Barriss Offee         female         166    Mirialan
36 Zam Wesell            female         168    Clawdite
37 Dexter Jettster       male           198    Besalisk
38 Lama Su               male           229    Kaminoan
39 Taun We               female         213    Kaminoan
40 Ratts Tyerell         male            79    Aleena
41 R4-P17                none            96    Droid
42 Wat Tambor            male           193    Skakoan
43 San Hill              male           191    Muun
44 Shaak Ti              female         178    Togruta
45 Grievous              male           216    Kaleesh
46 Tarfful               male           234    Wookiee
47 Tion Medon            male           206    Pau'an
48 BB8                   none            NA    Droid